<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Profil Saya</title>
</head>
<body>
    <div class="profile-container">
        <div class="profile-header">
            <img src="/static/images/Rizky Febian.jpg" alt="Foto Profil">
            <h1>Huda Nur Mustaqim</h1>
            <p>Anggota</p>
        </div>
        <div class="profile-content">
            <h2>Tentang Saya</h2>
            <p>saya Huda Nur Mustaqim anggota dari kelompok 7</p>
        </div>
        <div class="main-button">
            <a class="btn btn-primary" href="/page2" role="button">Kembali</a>
            <a class="btn btn-primary, bottomright" href="/page4" role="button">next</a>
        </div>
    </div>
</body>
</html>
